ul {
  list-style: none;
}

[hidden] {
  opacity: 0 !important;
  pointer-events: none;
}

body {
  margin: 0 auto;
  height: 100vh;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 400;
  font-size: 16px;

  h2 {
    font-size: 32px;
    margin: 0 auto;
  }

  h4 {
    font-family: "Grandstander", cursive;
    font-size: 24px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212120;
    color: #ffffff;
    text-align: center;
    height: 150px;
    justify-content: space-around;

    .logo {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Grandstander", cursive;
      font-size: 30px;
      list-style: none;
      text-align: left;
      padding: 0;
      gap: 5px;

      ul {
        list-style: none;
        display: inline-block;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        text-transform: uppercase;
        gap: 30px;
        font-size: 20px;
        li {
          a {
            text-decoration: none;
            color: #ffffff;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    .search-bar {
      color: #ffffff;
      display: flex;

      .search-input {
        width: 250px;
        height: 30px;
        color: #ffffff;
        border: 1px solid #3a3a3a;
        border-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: transparent;
      }

      .search-button {
        width: 30px;
        height: 30px;
        background-color: #3a3a3a;
        border-radius: 5px;
        border: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-image: url("./img/svg/search-library.svg");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
      }
    }

    .login-button {
      font-size: 20px;
      background-color: transparent;
      color: #ffffff;
      border: none;

      &:hover {
        opacity: 0.6;
      }
    }

    .login-window {
      width: 900px;
      height: 700px;
      justify-content: center;
      align-items: center;
      display: flex;
      position: absolute;
      border-radius: 20px;
      overflow: hidden;
      transition: 300ms;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      .login-picture {
        width: 50%;
        height: 100%;
        background-image: url("./img/login-window-img.jpg");

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        padding: 40px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          backdrop-filter: contrast(0.7) brightness(0.7);
        }

        ul {
          text-decoration: none;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: "Grandstander", cursive;
          font-size: 20px;
          list-style: none;
          text-align: left;
          padding: 0;
          gap: 5px;
          list-style: none;
          display: inline-block;
          backdrop-filter: contrast(1) brightness(1);
          position: absolute;
          left: 50px;
          top: 50px;
        }
      }

      .login-info {
        width: 50%;
        height: 100%;
        color: #212120;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        justify-content: center;
        gap: 10px;
        align-items: center;

        input {
          height: 25px;
          width: 80%;
          border: 1px solid #3a3a3a;
          border-radius: 15px;
          background-color: transparent;
          padding-left: 15px;
          font-family: "Lexend Exa", sans-serif;
        }

        .password-recovery,
        .sign-button {
          background-color: transparent;
          color: #212120;
          border: none;
          font-size: 14px;
          font-family: "Lexend Exa", sans-serif;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        .login-button {
          height: 30px;
          width: 60%;
          border: 1px solid #3a3a3a;
          border-radius: 20px;
          background-color: #3a3a3a;
          align-items: center;
          color: #ffffff;
          font-family: "Lexend Exa", sans-serif;
          font-size: 16px;
        }

        div {
          font-family: "Lexend Exa", sans-serif;
          font-size: 14px;
        }
      }
    }
  }
  .main {
    background-color: #ffffff;

    .container {
      width: 1170px;
      margin: 0 auto;
    }

    .clients__section {
      background-color: #212120;

      .clients-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        filter: brightness(2);

        li:hover {
          filter: brightness(0.5);
        }
      }
    }

    .quotes__section {
      padding: 25px 50px;
      background-color: #212120;
      .quotes-content {
        h2 {
          padding-bottom: 25px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #212120;
        color: #ffffff;

        .quote-image {
          background-image: url("https://images.unsplash.com/photo-1487001175664-86de872e3cd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=672&q=80");
          background-repeat: no-repeat;
          background-size: cover;
          height: 500px;
          width: 40%;
          background-position: center;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          position: relative;
          padding: 40px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            backdrop-filter: contrast(0.7) brightness(0.9);
          }

          .quote {
            font-size: 22px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 0;

            &::before {
              content: "“";
              color: #fff;
              font-size: 150px;
              line-height: 0.5;
            }
          }

          .quote-author {
            z-index: 0;
            font-size: 22px;
          }
        }
      }

      .slider-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 25px;

        .button-prev,
        .button-next {
          background-color: transparent;
          color: #ffffff;
          border: 1px solid #ffffff;
          padding: initial;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    flex-direction: column;
    color: #ffffff;
    background-color: #212120;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: fixed;

    .links {
      display: flex;
      justify-content: center;
      gap: 5px;

      .link {
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
      }

      .github_link {
        background-image: url("./img/svg/github.svg");
      }

      .linkedin_link {
        background-image: url("./img/svg/linkedin.svg");
      }

      .instagram_link {
        background-image: url("./img/svg/instagram.svg");
      }
    }
  }
}
